<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        {{>header}}
        <h2 class="color-red">{{title}}</h2>
        <p>{{helptext}}</p>
        {{>footer}}
    </body>
</html>